#!/usr/bin/make -f

export DH_GOLANG_INSTALL_EXTRA := \
	tpm2/test/testvectors/ecc_labeled_encaps.json \
	tpm2/test/testvectors/rsa_labeled_encaps.json

export DH_GOLANG_EXCLUDES := \
	examples

%:
	dh $@ --builddirectory=_build --buildsystem=golang
